extends layout_principale

block content
    script.
        initNewLista();
    h3(style='margin: 8px;') Crea una nuova lista
    div.utentiAssociati
        form.utenti(id='formUtentiAssociati' method='GET')
            h5 Dagli un nome:
            input.n(style='margin: 14px' name='nomeLista' placeholder='Nuovo')
            h5 Gruppi di utenti con il permesso di modificarla:
            div.utenti.master
        script.
            setInput();
        div
            button.aggiungi(id='addUtenteAssociato')
                h7(style='color: #f5aa3b') Aggiungi
                i.fa.fa-plus.aggiungi
            div.content-collapsible-utenti(id='selectUtenti')
                h5(style='margin: 10px;') Preferiti
                span(style='display: inline;')
                    input(style='margin: 8px; display: inline;' type='checkbox' id='allPreferiti' name='allPref')
                    label(style='display: inline;' for='allPreferiti') Seleziona tutti
                div.utenti.preferiti
                    each nome in prefGroup
                        span(style='display: inline;')
                            input(style='margin: 8px; display: inline;' type='checkbox' class='prefsChecks' value=nome id="" + nome)
                            label(style='display: inline;' for='allPreferiti')=nome
                h5(style='margin: 8px;') Tutti
                div.utenti.allU
                    each gruppo in allGroups
                        span(style='display: inline;')
                            input(style='margin: 8px; display: inline;' type='checkbox' class='genChecks' value=gruppo.ID id=gruppo.Nome)
                            label(style='display: inline;' for='allPreferiti')=gruppo.Nome
                button.aggiungi.right(id='confirmUtenti') OK

            h5 Selezione del supermercato
                input(style="width: 200px;" class="alimento" name="supermercato" list="allSupermercati")

            h5 Oggetti della lista
            div(style='pointer-events: none; opacity: 0.4;')
                div.content-collapsible-ricette
                table
                    tr
                        td(style='padding-left: 40px;')
                            h7 Nome prodotto
                        td(style='padding-left: 84px;')
                            h7 Qta
                div.lista.master
                button.aggiungi(id='addAlimento')
                    h7(style='color: #f5aa3b') Aggiungi oggetto
                    i.fa.fa-plus.aggiungi
                br
                button.aggiungi(id='addRicetta')
                    h7(style='color: #f5aa3b') Aggiungi ricetta
                    i.fa.fa-plus.aggiungi
            
            h5 Richiesta prezzo effettivo oggetti
                input(type="checkbox" name="prezzi_effettivi")

        datalist(id='allSupermercati')
            each supermercato in allSupermercati
                option(data-value=supermercato.ID)=supermercato.Nome
        datalist(id='allAlimenti')
        
        datalist(id='listaQuantita')
            each number in [1,2,3,4,5]
                option(data-value=number)=number
