include ../lib/lib
doctype mobile
html
    head
        meta(charset='UTF-8')
        +jquery
        +bootstrap
        +fontawesome
        +jqueryConfirm
        link(rel="stylesheet", href="/css/liste.css")
        +cssLib
        script(type='module' src='/js/addLista.js')
    body
        +navbar('Nuova lista','none')
        script.
            supermercati = !{JSON.stringify(allSupermercati)};
        div.utentiAssociati.formBeauty
            form.utenti(id='formUtentiAssociati' method='GET')
                input.n(id='nomeLista' name='nomeLista' placeholder='Nome della lista')
                h4 Voglio condividerla con:
                div.utenti.master
                div
                    button.aggiungi(id='addUtenteAssociato')
                        h7 Aggiungi
                        i.fa.fa-plus.aggiungi
                    div.content-collapsible-utenti(id='selectUtenti')
                        h5 L'ultimo che ho usato
                        div.utenti.preferiti
                            span.utente
                                input.utente.n1(type='radio' class='radioUtenti' value=prefGroup.ID id=prefGroup.Nome  name='groupLinked')
                                label.utenti.n1(for='allPreferiti')=prefGroup.Nome
                        h5 I miei gruppi
                        div.utenti
                            each gruppo in allGroups
                                span.utente
                                    input.utente.n1(type='radio' class='radioUtenti' value=gruppo.ID name='groupLinked' id=gruppo.Nome)
                                    label.utenti.n1(for='allPreferiti')=gruppo.Nome
                        button.aggiungi.right(id='confirmUtenti') OK

                    h4 Supermercato:
                    input.n3(id='selectS' class="alimento" name="supermercato" list="allSupermercati")

                    h4 Oggetti della lista
                    div.alimenti.blocked(id='divAlimenti')
                        table(style='width: 100%;')
                            tr
                                td(style='width: 50%;')
                                    h6 Nome prodotto
                                td(style='width: 50%;')
                                    h6 Qta
                        div.lista.master
                        button.aggiungi(id='addAlimento')
                            h7 Aggiungi oggetto
                            i.fa.fa-plus.aggiungi
                        br
                        button.aggiungi(id='addRicetta')
                            h7 Aggiungi ricetta
                            i.fa.fa-plus.aggiungi
                        div.content-collapsible-ricette(id='divRicette')
                            h4 Seleziona una ricetta e scegli gli elementi da aggiungere
                            input.n3( id='selectR' class="alimento" list="allRicette")
                            div(id='noUtenze')
                                i.fa.fa-exclamation-triangle.red-triangle 
                                label.red-triangle.n1 Selezionare un gruppo di utenze
                            div.ingredienti(id='divIngredienti')
                            button.aggiungi.right(id='confirmRicette') OK
                h4 Richiesta prezzo effettivo oggetti
                input(type="checkbox" name="richiedi_prezzi")

            datalist.n2(id='allSupermercati')
                each supermercato in allSupermercati
                    option(data-value=supermercato.ID)=supermercato.Nome

            datalist(id='allAlimenti')
            
            datalist(id='allRicette')
        +confirmButton
