include misc
doctype mobile
html
    head
        title #{lista.Nome}
        meta(charset='UTF-8')
        +jquery
        +bootsrap
        +fontawesome
        +jqueryConfirm
        link(rel='stylesheet',type='text/css',href='/css/spesa.css')
        script(src='/js/spesa.js' defer)
    body
        +navbar
        input(type="hidden" name="listaID" value=lista.ID)
        input(type="hidden" name="richiedi_prezzi" value=lista.Richiedi_prezzi)
        .flex-vertical
            h3 #{lista.Nome} (##{lista.ID}, #{lista.Supermercato})

            .flex.dropdown-control(data-target='#oggetti-da-acquistare')
                i.fas.fa-caret-down
                h4 Oggetti da acquistare
            #oggetti-da-acquistare.flex-vertical
                +caricamento

            .flex.dropdown-control(data-target='#oggetti-acquistati')
                i.fas.fa-caret-up
                h4 Oggetti acquistati
            #oggetti-acquistati.hidden
                +caricamento