include ../lib/lib
doctype mobile
html
    head
        title #{lista.Nome}
        meta(charset='UTF-8')
        +jquery
        +bootstrap
        +fontawesome
        +jqueryConfirm
        +socketIO
        +cssLib
        link(rel='stylesheet', href='../css/main.css')
        link(rel='stylesheet', href='../css/spesa.css')
        script(src='/js/spesa.js' type="module")
        script(src='/js/misc.js' type="module")
        script.
            IDLista = parseInt("#{lista.ID}");
            richiedi_prezzi = ("#{lista.Richiedi_prezzi}" != 0);
            aperta = ("#{lista.Aperta}" != 0);
            IDsupermercato = parseInt("#{lista.SupermercatoID}")
    body
        header
            +navbar('Lista n. ' + lista.ID,'none')
        #connectionWarning.hidden.error Sei offline...
        .centra2
            .sezioneSenzaSfondo
                h5 #{lista.Nome}
                h6 Loc. #{lista.Supermercato}
            .sezione.attive
                .flex.dropdown-control(data-target='#oggetti-da-acquistare')
                    i.fas.fa-caret-down
                    h2 Oggetti da acquistare
                #oggetti-da-acquistare.flex-vertical
                    +caricamento
            .sezione.attive
                .flex.dropdown-control(data-target='#oggetti-acquistati')
                    i.fas.fa-caret-down
                    h2 Oggetti acquistati
                #oggetti-acquistati.flex-vertical
                    +caricamento
        footer.flex
            +iconButton('add', 'fas fa-cart-plus')
            +iconButton('chiudi', 'fas fa-lock')