include misc
doctype mobile
html
    head
        title #{lista.Nome}
        meta(charset='UTF-8')
        +jquery
        +bootstrap
        +fontawesome
        +jqueryConfirm
        +socketIO
        link(rel='stylesheet',type='text/css',href='/css/spesa.css')
        link(rel='stylesheet',type='text/css',href='/css/misc.css')
        script(src='/js/spesa.js' type="module")
        script(src='/js/misc.js' type="module")
        script.
            IDLista = parseInt("#{lista.ID}");
            richiedi_prezzi = ("#{lista.Richiedi_prezzi}" != 0);
            aperta = ("#{lista.Aperta}" != 0);
            IDsupermercato = parseInt("#{lista.SupermercatoID}")
    body
        .main-container
            header
                +navbar('none')
            .flex-vertical
                h3 #{lista.Nome} (##{lista.ID}, #{lista.Supermercato})

                .flex.dropdown-control(data-target='#oggetti-da-acquistare')
                    i.fas.fa-caret-down
                    h4 Oggetti da acquistare
                #oggetti-da-acquistare.flex-vertical
                    +caricamento

                .flex.dropdown-control(data-target='#oggetti-acquistati')
                    i.fas.fa-caret-down
                    h4 Oggetti acquistati
                #oggetti-acquistati.flex-vertical
                    +caricamento
            footer.flex
                +iconButton('add', 'fas fa-cart-plus')
                +iconButton('chiudi', 'fas fa-lock')